*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

/* NavBar top */

.nav-top{
    height: 16vh;
    width: 100%;
    background-color: #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 5vh;
}
.logo{
    height: 10vh;
    width: 10vh;
    background-position: center;
    background-size: 100% 100%;
    background-image: url('logo.png');
}
.fa-bars{
    cursor: pointer;
    font-size: 1.15em;
}
.fa-bars:hover{
    transform: scale(1.25);
    transition: .25s ease;
}
.nav-slider{
    height: 84vh;
    width: 60vh;
    background-color: #575757;
    position: absolute;
    right: -60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .25s ease;
}
.nav-links{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
}
.link{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.link:hover{
    background-color: #898989;
    transition: .25s ease;
}
.fa-x{
    color: #fff;
    transform: translate(25vh,-20vh);
    cursor: pointer;
}
.fa-x:hover{
    color: #f00;
    transition: .25s ease;
}
